.todo{
	$root: &;

	position: relative;
	padding: 10px 0px;
	border-bottom: 1px solid lightgray;
	font-size: 1.5rem;

	&__btn-delete{
		cursor: pointer;
		display: none;
		position: absolute;
		right: 5px;
		border-radius: 20px;
		border:none;
		background: #E6E6E6;
		color:#666765;
		font-size: 1rem;

		&:hover{
			background: #272822;
			color: white;
		}
	}
	&:hover{
		#{$root}__btn-delete{
			display: inline-block;		
		}
	}
	&__edit{
		display: none;
		height: 3rem;
		padding: 5px;
	}
	&--editing{
		padding: 0px;

		#{$root}__content{
			display: none;
		}

		#{$root}__edit{
			display: inline-block;
			width: 100%;
		}
	}
}
